@{
	ViewBag.Title = "CONTACT US!";
}

@section head{
	<img src="/Content/CYA_Images/Contact.jpg" alt="" />
}

<div id="contact-page">
	<br /><br /><br /><br />
	<h1>@ViewBag.Title</h1>
	<h3>@ViewBag.Message</h3>

	<h3 class="text-uppercase">
		123 LALA LANE<br />
		LALALAND, EARTH<br />
		<p>425.555.0100</p>
	</h3>

	<address class="text-uppercase">
		<H3>Support:</H3><H4>Support@example.com</H4><br />
		<H3>Marketing:</H3><H4>Marketing@example.com</H4>
	</address>
</div>