@{
	ViewBag.Title = "Home Page";
}

@section head{
	<img src="~/Content/CYA_Images/Home.jpg" alt="" />
}

<div class="jumbotron" id="jumbo">
	<h1>LIVE WORRY FREE!</h1>
	<h2>Step inside for a FREE Auto quote today!&nbsp;  &nbsp;</h2>
	<h2><button class="btn-toolbar btn-lg">&laquo; @Html.ActionLink("FREE AUTO QUOTE!", "Index", "Home") &raquo;</button></h2>
</div>

